body {    
    width : 436px;
    height: 543px;
    padding: 53px 38px;
    background: white;
    
}

.grayfood {
    display: block;
    div {
        display: flex;
        div {
            font-weight: bold;
            display : flex;
            width : 78px;
            height : 78px;
            background: #BBBBBB;
            justify-content: center;
            margin: 0 3px;
            align-items: center;
            color : white;
            text-align: center;
            border-radius: 20px;
            box-sizing: border-box;
        }
    }
    .first_group {
        margin : 0 0 15px 0; 
    }
    .second_group {
        margin : 0 0 26px 0; 
    }
}

.aquafood {
    display: block;
    div {
        display: flex;
        div {
            font-weight: bold;
            display : flex;
            width : 78px;
            height : 78px;
            background: #2AC1BC;
            justify-content: center;
            margin: 0 3pt;
            align-items: center;
            color : white;
            text-align: center;
            border-radius: 20px;
            box-sizing: border-box;
        }
    }
    .first_group {
        margin : 0 0 15px 0; 
    }
    .second_group {
        margin : 0 0 29px 0; 
    }
}

.etcfood {
    display: flex;
    div {
        display: flex;
        
        div {
            font-weight: bold;
            display : flex;
            width : 70px;
            height : 70px;
            justify-content: center;
            margin: 0 3px;
            align-items: center;
            color : white;
            text-align: center;
            border-radius: 40px;
            box-sizing: border-box;
        }
    }
}