body {    
    background: white;
    font: {
        family: "Noto Serif CJK KR", serif;
    }
}

$defaultborder : 1px solid gray;

#content {
   width : 100%;
   height: 100%;
   margin: 0 auto;
   min-width: 22.5rem;
   max-width: 45rem;
   position: relative; 
   
   >img {
        position: absolute;
        top : 14px;
        left: 16px;
        width : 26px;
        height: 26px;
   }
}

.title {
    height: 54px;
    border-bottom: 1px solid #DDDDDD;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        font-size: 16px;
        letter-spacing: -0.5px;
        font-weight: bold;
    }
}

.goods-info {
    height: 111px;
    border-bottom: 2px solid #DDDDDD;
    padding : 17px 12px 8px 12px;
    box-sizing: border-box;

    .goods_addr {
        display : flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background: #73675C;
        border-radius: 24px;
        padding: 0 12px;
        font-size: 15px;

        >img {
            width : 20px;
            height : 20px;
        }

        div {
            display: flex;
            color : white;
            >img {
                width : 17px;
                height : 17px;
                padding-right : 6px;
            }
        }
    }

    .goods_sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        padding: 24px 0 8px 0;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: -0.5px;

        >div {
            display: flex;

            button {
                border : none;
                background: white;
                cursor: pointer;
                outline: none;;
                margin-left: 4px;
                img {
                    height: 16px;
                }
            }

            ul {
                box-sizing: border-box;
                position: absolute;
                top : 25px;
                z-index: 1;               
                width: 110px;
                height: 170px;
                padding: 5px 0;
                display: none;
                border : 1px solid black;
                background: white;
                font-size: 14px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 4px 0px;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width : 108px;
                    height: 40px;
                    padding : 10px 0px;
                    box-sizing: border-box;

                    &:nth-child(1) {
                        color : #42C1BC;
                    }
                }
            }
        }

        .goods_buycnt {
            position: relative;
            margin-left: 13px;
        }
    }
}

.goods-lists {
    .goods-list {
        padding-top : 24px;
        border-bottom: 1px solid #DDDDDD;
        .goods_border {
            padding : 0 16px;
            .goods-top {
                display : flex;
                min-width: 155px;
                border-bottom: 1px dashed #EEEEEE;
                
                >div {
                    display: flex;
                    flex-direction: column;
                    min-width: 155px;
                    margin : 0 auto 0 0;
                }
                >button {
                    border : none;
                    background: white;
                    cursor: pointer;
                    outline: none;
                    width: 40px;
                    height: 40px;
                    margin-left: 19px;
                }

                >img {
                    height: 48px;
                    border-radius: 4px; 
                }
                
                .goods_content {
                    font-weight: 400;
                    margin-left : 12px;
                    font-size: 15px;
                    letter-spacing: -0.5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
    
                .goods_money {
                    padding-left : 12px;
                    padding-top: 4px;
                    padding-bottom: 16px;
                    font-size : 18px;
                    letter-spacing: -0.5px;
                    font-weight: 700;
                }
            }
            .goods-bottom {
                display : flex;
                align-items: center;
                padding : 8px 0 24px 0;
                img {
                    width: 68px;
                    height: 19px;
                }
                span {    
                    width: 1px;
                    height: 8px;
                    background: #DDDDDD;
                    margin: 0px 8px;
                }
                
                div {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color : #666666;
                    letter-spacing: -0.5px;
                }
            }
        }
    }
}